extends ./layout.pug
block container
  section.content-header
    h1
      | Registro de Actividad 
    ol.breadcrumb
      li.active
        i.fa.fa-history
        |  Registro de Actividad
  section.content