ul.nav.nav-sidebar
  li.active
    a(href='/index')
      | Vista General 
      span.sr-only (current)
  li
    a(href='/parm/reclutamiento') Reclutamiento
  li
    a(href='#') Analitics
  li
    a(href='#') Reportes