extends ./layout.pug
block container
  section.content-header
    h1
      | Perfil de Usuario 
    ol.breadcrumb
      li.active
        i.fa.fa-bullhorn
        |  Perfil de Usuario
  section.content